
<div class="sidebar" id="sidebar">

                        <ull class="list-unstyled">
                            <li>
                                <a class="h3" href="/">Home</a>
                            </li>    
                            <li>
                                <a class="h3" href="/story">Kevin's Story</a>
                            </li>                                
                            <li>
                                <a class="h3" href="/trial">The Trial</a>
                            </li>                            
                            <li>
                                <a class="h3" href="/appeal">The Appeal Process</a>
                            </li>  
                            <li>
                                <a class="h3" href="/concern">Cause for Concern</a>
                            </li>  
                            <li>
                                <a class="h3" href="/whattodo">What can I do?</a>
                            </li> 
                            <li>
                                <a class="h3" href="/contact">Contact Us</a>
                            </li>  
                        </ul>

</div>
